@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    gap: 3rem;
}


.imagem img {
    padding-top: 15%;
    justify-items: center;
    margin-left: 6%;
    width: 40vmax;
    text-align: center;
}

.text {
    justify-items: left;
    width: 45.5vmax;
    text-align: center;
}

label {
    margin-left: -34vmax;
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2vmax;
    line-height: 3vmax;
    margin-bottom: 1vmax;
}

input {
    box-sizing: border-box;
    width: 40vmax;
    height: 5vmax;
    padding: 0.8rem;
    font-size: 1.3rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.name label {
    margin-left: -30vmax !important; 
}

.age input {
    margin-left: -34vmax !important; 
    width: 6vmax !important;
}

.text button {
    width: 80%;
    margin-top: 3%;
    text-decoration: none;
    border: 0ch;
    background: #3EB25E;
    border-radius: 5.5vh;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2vmax;
    line-height: 3.5vmax;
    color: #FFFFFF;
}

.text button:hover {
    color: black;
    background-color: #FFFF7D;
}


@media screen and (max-width: 700px) {

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    
    .imagem img {
        justify-items: center;
        margin-left: 0%;
        width: 40vmax;
        text-align: center;
    }
    
    .text {
        padding-top: 0%;
        justify-items: center;
        width: 45.5vmax;
        text-align: center;
    }

    label {
        margin-left: -34vmax;
        text-align: left;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 2vmax;
        line-height: 3vmax;
        margin-bottom: 1vmax;
    }
    
    input {
        box-sizing: border-box;
        width: 40vmax;
        height: 5vmax;
        padding: 0.8rem;
        font-size: 1.3rem;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }
    
    .name label {
        margin-left: -30vmax !important; 
    }
    
    .age input {
        margin-left: -25vmax !important; 
        width: 15vmax !important;
    }
    
    .text button {
        width: 80%;
        margin-top: 3%;
        text-decoration: none;
        border: 0ch;
        background: #3EB25E;
        border-radius: 5.5vh;
        text-align: center;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 2vmax;
        line-height: 3.5vmax;
        color: #FFFFFF;
    }
    
    .text button:hover {
        color: black;
        background-color: #FFFF7D;
    }

}
