@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    gap: 3rem;
}


.imagem img {
    padding-top: 15%;
    justify-items: center;
    margin-left: 6%;
    width: 45.5vmax;
    text-align: center;
}

.text {
    justify-items: center;
    width: 45.5vmax;
    text-align: center;
}
.text h1 {
    padding-top: 18%;
    font-family: 'Roboto';
    font-style: normal;
    text-align: left;
    font-weight: 700;
    font-size: 2.5vmax;
}

.text textarea {
    padding: 0.8rem;
    box-sizing: border-box;
    resize: none;
    position: relative;
    width: 40vmax;
    height: 20vmax;
   margin-top: 3%;

    font-size: 1.3rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.btn {
    padding-top: 4%;
    display: flex;
    justify-content: space-around;
    gap: 2em;
    
}

.btn button{
    width: 40%;
    text-decoration: none;
    border: 0ch;
    background: #3EB25E;
    border-radius: 5.5vh;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2vmax;
    line-height: 3.5vmax;
    color: #FFFFFF;
}

.btn button:hover {
    color: black;
    background-color: #FFFF7D;
}


.btn-2 button{
    width: 92%;
    margin-top: 5%;
    text-decoration: none;
    border: 0ch;
    background: #3EB25E;
    border-radius: 5.5vh;
    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2vmax;
    line-height: 3.5vmax;
    color: #FFFFFF;
}

.btn-2 button:hover {
    color: black;
    background-color: #FFFF7D;
}

@media screen and (max-width: 700px) {

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    
    .imagem img {
        justify-items: center;
        margin-left: 0%;
        width: 40vmax;
        text-align: center;
    }
    
    .text {
        padding-top: 0%;
        justify-items: center;
        width: 45.5vmax;
        text-align: center;
    }

    .text h1 {
        padding-top: 0%;
        font-family: 'Roboto';
        font-style: normal;
        text-align: left;
        font-weight: 600;
        font-size: 2.9vmax;
    }
    
    .conteiner textarea {
        padding: 0.8rem;
        box-sizing: border-box;
        resize: none;

        font-size: 1.3rem;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        width: 10vmax;
        height: 10vmax;
        left: 10vmax;
        top: 10vmax;
    }
    
    .btn {
        padding-top: 5%;
        display: flex;
        gap: 1em;
    }
    
    .text button{
        width: 49%;
        text-decoration: none;
        border: 0ch;
        background: #3EB25E;
        border-radius: 5.5vh;
        text-align: center;
    
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 2vmax;
        line-height: 3.7vmax;
        color: #FFFFFF;
    }
    
    .text button:hover {
        color: black;
        background-color: #FFFF7D;
        bottom: auto;
    }

    .btn-2 button{
        width: 100%;
        margin-top: 5%;
        text-decoration: none;
        border: 0ch;
        background: #3EB25E;
        border-radius: 5.5vh;
        text-align: center;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 2vmax;
        line-height: 3.5vmax;
        color: #FFFFFF;
    }
    
    .btn-2 button:hover {
        color: black;
        background-color: #FFFF7D;
    }

}
