@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

.conteiner {
    position: relative;
    width: 1280px;
    height: 760px;
    background: #FFFFFF;
}

.conteiner textarea {
    padding: 0.8rem;
    box-sizing: border-box;
    resize: none;
    position: absolute;
    width: 459px;
    height: 225px;
    left: 732px;
    top: 285px;

    font-size: 1.3rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.conteiner img {
    position: absolute;
    width: 552.51px;
    height: 521.01px;
    left: 87.49px;
    top: 105px;
}

.text h1 {
    position: absolute;
    width: 466px;
    height: 100px;
    left: 732px;
    top: 175px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
}

.text a {
    text-decoration: none;
    position: relative;
    width: 199px;
    height: 36px;
    left: 734px;
    top: 572px;
    background: #3EB25E;
    border-radius: 35px;

    padding-top: 0.8%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.text a:hover {
    color: black;
    background-color: #FFFF7D;
}

