@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

.container div {
    margin-top: 16%;
}

.imagem img {
    width: 30vmax;
    text-align: center;
}

.text h1 {
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    font-size: 8vmax;
    margin: 0%;
}

.text h2 {
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 2.5vmax;
}

.text button{
    margin-top: 12%;
    width: 50%;
    text-decoration: none;
    border: 0ch;
    background: #3EB25E;
    border-radius: 5.5vh;
    text-align: center;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2vmax;
    line-height: 3.5vmax;
    color: #FFFFFF;
}


.text button:hover {
    color: black;
    background-color: #FFFF7D;
    bottom: auto;
}

@media screen and (max-width: 700px) {

    .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: auto 0;
        text-align: center;
    }

    .imagem img {
        margin-top: 10%;
        align-items: center;
        width: 70%;
        margin-left: -60px;
    }
    .container div{
        margin-top: 0%;
    }

    .text h1 {
        padding-top: 5%;
        font-family: 'Roboto';
        font-style: normal;
        text-align: center;
        font-weight: 700;
        font-size: 8vmax;
        justify-content: center;
        position: relative;
        margin: 0;
    }

    .text h2 {
        font-family: 'Roboto';
        font-style: normal;
        text-align: center;
        font-weight: 700;
        font-size: 3vmax;
        justify-content: center;
        position: relative;
        margin: 0;
    }


    .text button {
        width: 50%;
        height: 50%;
        margin-top: 10%;
        font-size: 3vmax;
        text-align: center;
        line-height: 4.5vmax;

    }

}